<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RunCosmosScript.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <section name="cosmosSetup" type="RunCosmosScript.cosmosSetupSection, RunCosmosScript"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RunCosmosScript.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=MDDB01;Initial Catalog=Sandbox;Integrated Security=True</value>
            </setting>
            <setting name="logPath" serializeAs="String">
                <value>C:\\temp\\</value>
            </setting>
        </RunCosmosScript.Properties.Settings>
    </userSettings>
  <cosmosSetup>
    <cosmos>
      <add name="Lightbox" VC="https://cosmos15.osdinfra.net/cosmos/asimov.partner.osg" script="C:\\temp\\Cosmos\\Lightbox.script" filePrefix="Lightbox_" streamPath="https://cosmos15.osdinfra.net/cosmos/asimov.partner.osg/local/users/MeritDirect/Test/" downloadDirectory="C:\\temp\\" ftpScript="" excludeHeader="1" renameFile="0" updateFile=""></add>
      <add name="OneStore_Order" VC="https://cosmos15.osdinfra.net/cosmos/dsa.email.segmentation" script="C:\\temp\\Cosmos\\OneStore_Order.script" filePrefix="OneStore_Order_" streamPath="https://cosmos15.osdinfra.net/cosmos/dsa.email.segmentation/local/users/MeritDirect/" downloadDirectory="C:\\temp\\" ftpScript="" excludeHeader="0" renameFile="1" updateFile="OneStore_LastUpdate_Order.txt"></add>
      <add name="OneStore_Return" VC="https://cosmos15.osdinfra.net/cosmos/dsa.email.segmentation" script="C:\\temp\\Cosmos\\OneStore_Return.script" filePrefix="OneStore_Return_" streamPath="https://cosmos15.osdinfra.net/cosmos/dsa.email.segmentation/local/users/MeritDirect/" downloadDirectory="C:\\temp\\" ftpScript="" excludeHeader="0" renameFile="1" updateFile="OneStore_LastUpdate_Return.txt"></add>
      <add name="OneStore_Visit" VC="https://cosmos15.osdinfra.net/cosmos/dsa.email.segmentation" script="C:\\temp\\Cosmos\\OneStore_Visit.script" filePrefix="OneStore_Visit_" streamPath="https://cosmos15.osdinfra.net/cosmos/dsa.email.segmentation/local/users/MeritDirect/" downloadDirectory="C:\\temp\\" ftpScript="" excludeHeader="0" renameFile="1" updateFile="OneStore_LastUpdate_Visit.txt"></add>
    </cosmos>
  </cosmosSetup>
</configuration>